﻿@model Blog5_1.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileId)
    </div>
</fieldset>

@Html.Partial("_addComment",new Blog5_1.Models.Comment() ,ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach(var comment in Model.Comments.OrderByDescending(x=> x.DayCreated).Take(5))
    {
        <div>@*  *@
            <div class="display-field">
                <h2>Cách đây: @Html.DisplayFor(x=>comment.LastTime)</h2>
            </div>
        </div>
        <div class="display-field">
            @Html.DisplayFor(x=>comment.Body)
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
