﻿@model Blog5_1.Models.Comment

@using (Html.BeginForm("Create","Comment",FormMethod.Post,
    new {id="my-form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Comment</legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        @Html.Hidden("idpost",ViewData["idpost"])
        <p>
            <input type="submit" value="Create"/>

        </p>
    </fieldset>
}
    
<script src="~/Scripts/addCComments.js"></script>


